@value makerBlack, makerWhite, makerGreen from '../../../common/colors.css';

.body {
	margin:20px;
	width:100%;
	/* background-color: lightcyan; */
	display: flex;
	flex-wrap: wrap;
	border-top:1px solid makerBlack;
	border-left:1px solid makerBlack;
}

.input,
.select {
	flex: 1 1 30%;
}

.input,
.select,
.textarea{
	width: 100%;
	resize: none;
}

.fileInput,
.button {
	flex: 1 1;
}


.input,
.select,
.textarea,
.fileInput,
.button {
	border: 0;
	border-bottom : 1px solid makerBlack;
	border-right : 1px solid makerBlack;
	background: makerWhite;
	padding: 0.5rem;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.button {
	background-color: makerGreen;
	color: makerWhite;
	font-weight: bold;
	cursor: pointer;
	font-size: 0.8rem;
}
.button:hover {
	opacity: 0.8;
}