.header {
	height: 80px;
	width: 100%;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkslategrey;
	position: absolute;
	top:0;
	left: 0;
	text-align: center;
}

.logo {
	width:60px;
	margin-right: 10px;
}

.body {
	margin-top: 80px;
	width:100%;
	height: calc(100% - 80px);
	display: flex;
}


