@value makerLightGrey from '../../common/colors.css';

.contatiner{
	width: 100%;
	height: 100%;
	display: flex;
}

.input {
	display: none;
}

.button {
	width: 100%;
	background-color: makerLightGrey;
	font-weight: bold;
	cursor: pointer;
	font-size: 0.8rem;
	border:0px;
	outline: 0;
	font-size: 0.8rem;
	border-bottom: 1px solid black;
}
.button:hover {
	opacity: 0.8;
}